{% extends "base.html" %}
{% block content %}
<div class="container col-md-4 col-md-offset-4">

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="alert alert-danger">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form method="POST" action="/resetPassword">
        <input type="hidden" name="token" value="{{token}} ">
        {{ form.csrf_token }}
        {{ form.password.label }}<br>
        {{ form.password }}
        <br> <br>
        {{ form.retype_password.label }}<br>
        {{ form.retype_password }}
        <br> <br>
        <button type="submit" class="btn btn-default">Reset Password</button>
    </form>
</div>
{% endblock %}