<ion-view hide-nav-bar="true" class="background">
    <ion-header-bar align-title="centre" class="bar-assertive">
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear" ng-click="goBack()"> Back </button>
        </div>
    <h1 class="title">AdHoc Charge</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <form ng-controller= "AdHocChargeCtrl">
			<div class="adhocCharge" >
				<br>
                <label class="item item-input item-login">
					<input type="number" placeholder="Amount" ng-model="amount">
				</label>
                <br>
                <label class="item item-input item-login">
					<input type="text" placeholder="Subject" ng-model="subject">
				</label>
                <br>
                <label class="item item-input item-login">
                    <textarea name="textarea" style="height:150px;" placeholder="Description" ng-model="description"></textarea>
				</label>

                <button class="button button-block button-dark" ng-click="charge()">Charge</button>
			</div>
		</form>
    </ion-content>
</ion-view>