<ion-view hide-nav-bar="true" class="background">
    <ion-header-bar align-title="centre" class="bar-assertive">
        <div class="buttons">
            <button class="button icon-left ion-chevron-left button-clear" ng-click="goBack()"> Back </button>
        </div>
    <h1 class="title">Delete A User</h1>
    </ion-header-bar>
    <ion-content has-header="true" padding="true">
        <ion-list can-swipe="true">
			<ion-item ng-repeat = "item in items" ng-model="data.topupAmt">
				{{item.firstname}} {{item.lastname}}
                <ion-option-button class="button button-assertive" ng-click="onItemDelete(item)">
                    Delete
                </ion-option-button>
	   	    </ion-item>
		</ion-list>
    </ion-content>
</ion-view>